{% extends "index.html" %}
{% block index %}
   <div class="row">
        <h3 style="margin-left: 3%" class="btn btn-primary">关联分析
        </h3>
   <div style="border: 1px solid #cccccc; width: 96%;margin-left: 2%;margin-top: 5px"></div>
    </div>

       <div id="container" style="height: 400px; margin: auto; min-width: 310px; max-width: 600px"></div>
      <br>
      <br>
      <br>
      <div id="container_1" style="height: 400px; margin: auto; min-width: 310px; max-width: 600px"></div>
        <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
        <script src="https://img.hcharts.cn/highcharts/highcharts-more.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script>
                // JS 代码
            var chart = Highcharts.chart('container', {
            chart: {
                    type: 'boxplot'
            },
            title: {
                    text: 'Boxplot grouped by workYear AvgSalary'
            }, credits: {
                  enabled:false
            },
            legend: {
                    enabled: false
            },
            xAxis: {
                    categories: ['不限', '1-3年', '3-5年', '5-10年', '10年以上'],
                    title: {
                            text: ''
                    }
            },
            yAxis: {
                            title: {
                                    text: '薪资'
                            },
                        plotLines: [{
                                value: 10000,
                                color: 'red',
                                width: 1,
                                label: {
                                        text: '理论薪资: 10000',
                                        align: 'center',
                                        style: {
                                                color: 'gray'
                                        }
                                }
                        }]
                },
                tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {series.name}</b><br/>' + // eslint-disable-line no-dupe-keys
                        '薪资最大值: {point.high}<br/>' +
                        'Q2\t: {point.q3}<br/>' +
                        '薪资中位数: {point.median}<br/>' +
                        'Q1\t: {point.q1}<br/>' +
                        '薪资最小值: {point.low}<br/>'
                },
                series: [{
                        name: '薪资值',
                        data: [
                                [10000, 11000, 12000, 13000, 14000],
                                [11000, 12000, 15000, 16000, 17000],
                                [14000, 15000, 16000, 18000, 20000],
                                [20000, 21000, 25000, 26000, 28000],
                                [25000, 27000, 28000, 30000, 31000]
                        ],
                        tooltip: {
                                headerFormat: '<em>工作经验： {point.key}</em><br/>'
                        }
                }, {
                        name: '异常值',
                        color: Highcharts.getOptions().colors[0],
                        type: 'scatter',
                        data: [ // x, y positions where 0 is the first category
                                [0, 6000],
                                [1, 30000],
                                [1, 25000],
                                [1, 20000],
                                [2, 25000],
                                [4, 12000],
                                [4, 40000]
                        ],
                        marker: {
                                fillColor: 'white',
                                lineWidth: 1,
                                lineColor: Highcharts.getOptions().colors[0]
                        },
                        tooltip: {
                                pointFormat: 'Observation: {point.y}'
                        }
                }]
        });
            var chart_1 = Highcharts.chart('container_1', {
            chart: {
                    type: 'boxplot'
            },
            title: {
                    text: 'Boxplot grouped by Degree AvgSalary'
            }, credits: {
                  enabled:false
            },
            legend: {
                    enabled: false
            },
            xAxis: {
                    categories: ['专科','本科', '硕士', '博士', '不限'],
                    title: {
                            text: ''
                    }
            },
            yAxis: {
                            title: {
                                    text: '薪资'
                            },
                        plotLines: [{
                                value: 10000,
                                color: 'red',
                                width: 1,
                                label: {
                                        text: '理论薪资: 10000',
                                        align: 'center',
                                        style: {
                                                color: 'gray'
                                        }
                                }
                        }]
                },
                tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {series.name}</b><br/>' + // eslint-disable-line no-dupe-keys
                        '薪资最大值: {point.high}<br/>' +
                        'Q2\t: {point.q3}<br/>' +
                        '薪资中位数: {point.median}<br/>' +
                        'Q1\t: {point.q1}<br/>' +
                        '薪资最小值: {point.low}<br/>'
                },
                series: [{
                        name: '薪资值',
                        data: [
                                [10000, 11000, 12000, 13000, 15000],
                                [11000, 12000, 15000, 16000, 18000],
                                [14000, 14500, 15000, 16000, 20000],
                                [18000, 19000, 20000, 23000, 25000],
                                [25000, 26000, 28000, 30000, 31000]
                        ],
                        tooltip: {
                                headerFormat: '<em>学历： {point.key}</em><br/>'
                        }
                }, {
                        name: '异常值',
                        color: Highcharts.getOptions().colors[0],
                        type: 'scatter',
                        data: [ // x, y positions where 0 is the first category
                                [0, 8000],
                                [1, 8000],
                                [1, 20000],
                                [1, 23000],
                                [1, 25000],
                                [3, 30000],
                                [4, 40000]
                        ],
                        marker: {
                                fillColor: 'white',
                                lineWidth: 1,
                                lineColor: Highcharts.getOptions().colors[0]
                        },
                        tooltip: {
                                pointFormat: 'Observation: {point.y}'
                        }
                }]
        });
        </script>
{% endblock %}