<ul v-if="isLogin" class="nav navbar-nav" id="nav_nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">概括<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/home/alldata">ALL JOBS</a></li>
            <div class="divider"></div>
            <li><a href="/home/newdata">最新</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">发布网站<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/companys/bossweb">BOSS</a></li>
            <div class="divider"></div>
            <li><a href="/companys/lagouweb">拉勾</a></li>
            <div class="divider"></div>
            <li><a href="/companys/zhilianweb">智联</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="/showdata/index" class="dropdown-toggle" >数据展示</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">职位分析<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/analysis/analysis_statistics">数据统计</a></li>

            <div class="divider"></div>
            <li><a href="/analysis/analysis_area">地区分析</a></li>
            <div class="divider"></div>
            <li><a href="/analysis/analysis_association">关联分析</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">推荐管理<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/recommend_perinfo">个人信息</a></li>
            <div class="divider"></div>
            <li><a href="/recommend_data">推荐信息</a></li>
            <div class="divider"></div>
            <li><a href="/recommend_historyall">归档信息</a></li>
        </ul>
    </li>
        <li class="dropdown">
        <a href="/home/shoucang_list" class="dropdown-toggle" >收藏列表</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/about/aboutdata">关于数据</a></li>
            <div class="divider"></div>
            <li><a href="/about/aboutpro">关于网站</a></li>
        </ul>
    </li>
</ul>